#Ignorar Arquivos
hosts
inventario
envs
.hosts
*hiden
#Ignorar diretósio
/credenciais
/foo
/cred
#Ignorar em Subdiretórios
*/hiden
hiden/
db/
credencials/
credenciais/
venv/
.venv/
.nginx/venv/
.nginx.venv/