[req]
default_bits = 2048
distinguished_name = dn
prompt             = no
req_extensions = req_ext

[dn]
C="Br"
ST="Brazil"
L="Rio de Janeiro"
O="YIDAS"
OU="Service"
emailAddress="rodrigo.root.rj@gmail.com"
CN="intranet.com"

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.0 = *.yourdomain.com
DNS.1 = *.dev.yourdomain.com